
.photo{
width: 200px;
height: 300px;
margin-left: 70%;
border-radius: 30px;
padding: 20px;}
.name{
    font-size: 70px;
color:brown;
text-align: center;
}
 .adrs{
   color: blue;
   text-align: center;
}